.delete-modal-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000000, .4);
    z-index: 2;
}

.modal { 
    align-items: flex-start;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.5);
    width: 300px;
    height: 300px;
    outline: 2px solid var(--col-light);
    border: 3px solid var(--col-bckgrnd);
    background-color: var(--col-light);
    opacity: 0;
    padding: 2em;
    animation-name: popModal;
    animation-duration: .22s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    h3, b {
        width: 100%;
    }

    h3 {
        color: var(--col-bckgrnd);
    }

    b {
        display: block;
        font-size: 1.063rem;
        text-align: center;
    }

    button {
        align-self: flex-end;
        width: 32%;
        outline: none;
        border: none;
        background-color: var(--col-bckgrnd);
        padding: .6rem 0;
        color: var(--col-light);
        font-family: 'Outfit' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        letter-spacing: .03rem;
        text-transform: capitalize;
        cursor: pointer;
    }
}

.delete-check .delete-modal-mask {
    display: block;
}

@keyframes popModal {
    0%{opacity: 0; transform: translate(-50%, -50%) scale(.5);}
    70%{opacity: .7; transform: translate(-50%, -50%) scale(1.06);}
    100%{opacity: 1; transform: translate(-50%, -50%) scale(1);}
}