.edit-form {

    h1 {
        margin-bottom: 3rem;
    }

    form {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 44% 44%;
        justify-content: space-evenly;
        gap: 4rem 0%;
        padding: 2% 0 0 8%;

        @media (min-width:1440px) {
            grid-template-columns: 400px 400px;
        }

        label,
        input {
            display: block;
        }

        label {
            margin-bottom: 1rem;
            color: var(--col-grey);
            font-size: 1.25rem;
            letter-spacing: 0.12em;
        }

        input {
            width: 30ch;
            width: 100%;
            background-color: var(--col-bckgrnd-light);
            padding: 1rem;
            font-family: "Averta", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: 1.5rem;
            letter-spacing: 0.02em;
        }
    }

    aside {
        align-self: center;
        width: 22%;
        margin-left: 0;
    }

    button {
        transform: translateY(0%);
    }
}