main { 
    flex-grow: 1;
    align-items: flex-start;
    width: 92%;
    max-width: 1920px;
    padding-top: 3vh;
    margin: auto;

    @media (min-width:1440px) {
        width: 88%;
        padding-top: 4vh;
    }
}

h1 {
    width: 100%;
    margin-bottom: 2.5rem;

    span {
        font-weight: 300;
    }
}