* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   background-color: var(--col-bckgrnd);
   overflow-x: hidden;
}

ul {
   list-style: none;
}

input,
fieldset {
   outline: 0;
   border: 0;
   background-color: unset;
}

table {
   border-collapse: collapse;
}